# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

build/
run/

deps/mkgpt/.deps/crc32.Po
deps/mkgpt/.deps/fstypes.Po
deps/mkgpt/.deps/guid.Po
deps/mkgpt/.deps/mkgpt.Po
deps/mkgpt/Makefile
deps/mkgpt/Makefile.in
deps/mkgpt/aclocal.m4
deps/mkgpt/autom4te.cache/output.0
deps/mkgpt/autom4te.cache/output.1
deps/mkgpt/autom4te.cache/output.2
deps/mkgpt/autom4te.cache/requests
deps/mkgpt/autom4te.cache/traces.0
deps/mkgpt/autom4te.cache/traces.1
deps/mkgpt/autom4te.cache/traces.2
deps/mkgpt/compile
deps/mkgpt/config.guess
deps/mkgpt/config.log
deps/mkgpt/config.status
deps/mkgpt/config.sub
deps/mkgpt/configure
deps/mkgpt/configure~
deps/mkgpt/depcomp
deps/mkgpt/install-sh
deps/mkgpt/missing
deps/mkgpt/mkgpt
